article {
	padding-top: 96px;
}
.post-title {
	font-size: 50px;
	color: #555;
	font-weight: 700;
	margin: 45px 0 10px;
	text-align: center;
}
.entry-content {
	padding: 30px 0;
	font-size: 20px;
	font-weight: 400;
	color: #555;
	line-height: 1.5em;
	padding-bottom: 25px;
}