/*
  Flaticon icon font: Flaticon
  Creation date: 18/10/2018 21:27
  */

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-menu:before { content: "\f100"; }
.flaticon-arrow:before { content: "\f101"; }
.flaticon-arrowhead-thin-outline-to-the-left:before { content: "\f102"; }
.flaticon-navigate-up-arrow:before { content: "\f103"; }
.flaticon-menu-1:before { content: "\f104"; }
.flaticon-plus:before { content: "\f105"; }
.flaticon-line-button:before { content: "\f106"; }
.flaticon-delete:before { content: "\f107"; }