.foo-ad-box {
	display: inline-block;
	width: 100%;
	background-color: #eaeaea;
	padding: 40px 0 35px;
}
.foo-ad-wrap {
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #555;
}
.foo-ad-wrap p {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	line-height: 1.5em;
}
.foo-tt-ad {
	font-size: 20px;
	margin: 0;
	padding-bottom: 10px;
	font-weight: 700;
}
.foo-tel {
	text-decoration: none;
	color: #4248f4;
}
.foo-email-box {
	margin-top: 10px;
}
.foo-email-btn {
	background-color: #8e8e8e;
	color: #fff;
	border: 2px solid #fff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 20px;
	padding: 10px 20px;
	text-decoration: none;
}
.foo-fpage-box {
	padding: 27px 0;
}
.foo-wrap-fpage {
	text-align: center;
}
.foo-footer {
	background-color: #222;
	padding: 14px 0;
}
.foo-footer-wrap {
	margin: 0 0 30px;
}
.foo-footer-txt {
	font-weight: 400;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
.foo-scroll-top {
	padding: 5px;
	font-size: 30px;
	color: #fff;
	background-color: rgba(0,0,0,.4);
	cursor: pointer;
	position: fixed;
	z-index: 99999;
	right: 0;
	bottom: 125px;
	border-radius: 5px;
	transition: all 0.3s;
	background-image: url("../images/up-arrow.png");
	background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-menu_footer {
	padding: 0;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
}
#menu-menu_footer .menu-item {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 0 25px;
}
#menu-menu_footer .menu-item a {
	font-weight: 400;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
@media only screen and (min-width: 768px) {
    #menu-menu_footer .menu-item {
        flex: 0 0 25%;
    	max-width: 25%;
    }
}