#fullPageGeneral .bannerPage {
    height: 396px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.containerPage {

}

.containerPage .contentPage {
    font-size: 18px;
    color: rgb(85, 85, 85);
    line-height: 27px;
}

.containerPage .contentPage h1 {
    font-size: 50px;
    line-height: 1.2;
    text-align: center;

}

.containerPage .contentPage p {

}

.containerPage .contentPage a {
    color: rgb(0, 0, 238);
}

.containerPage .wrapContentPage {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

.containerPage .contentPage {
    background-image: url("../image/ihs-512-10.png");
    background-size: cover;
    background-position: center;
}

.containerPage .fullField {
    background: #ededed;
    padding: 45px 0;
}

.containerPage .wrapField {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

.containerPage .wrapField .titleField {
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.containerPage .wrapField .titleField i {
    color: #d6d6d6;
}

.containerPage .contentField {
    font-size: 17px;
    padding-top: 20px;
    display: none;
}

.containerPage .contentField h3 {
    font-size: 26px;
    margin: 0;
}

.containerPage .contentField li {
    font-size: 18px;
    line-height: 1.4;
}

.wrapProcess, .wrapFaqs {
    border: 2px solid #fff;
    background: #8e8e8e;
    color: #fff;
    padding: 18px;
}
.wrapProcess.active, .wrapFaqs.active{
    background: #fff;
    color: #555;
}
.wrapProcess {
    margin-bottom: 28px;
}

#galleryPage, #galleryPage2 {
    padding: 0 40px;
}

#galleryPage2 {
    background-color: #f4f4f4;
}

#title-gallery, #title-sample-slabs {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
    color: #555;
    margin: 0;
    padding: 28px 0;
}

.wrapGalleryPage {
    margin: -20px -20px 0 -20px;
    padding-bottom: 20px;
}

.wrapGalleryPage .thumbnail {
    padding: 17px
}

.wrapGalleryPage .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.wrapGalleryPage .wrapThumbnail {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.wrapGalleryPage .wrapThumbnail:hover .flaticon-plus {
    display: flex;
}

.wrapGalleryPage .wrapThumbnail:hover .flaticon-plus:before {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.wrapGalleryPage .wrapThumbnail .flaticon-plus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    color: #595959;
    cursor: pointer;
}
.wrapGalleryPage .thumbnail .title-image{
    margin-top: 5px;
    font-size: 16px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#popupGallery {
    display: none;
}

.innerPopupGalley {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background: rgba(11,11,11,0.8);
    cursor: zoom-out;
}
.innerPopupGalley .prev,.innerPopupGalley .next{
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    background: rgba(0,0,0,0.5);
}
.innerPopupGalley .next{
    right: 0;
}
.innerPopupGalley .prev{
    left: 0;
}
.wrapPopupGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    -webkit-transition: all ease-in 0.7s;
    -moz-transition:  all ease-in 0.7s;
    -ms-transition:  all ease-in 0.7s;
    -o-transition:  all ease-in 0.7s;
}
.wrapPopupGallery .thumbnail {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 11;
    max-width: 100vw;
    /*height: 100%;*/
    align-items: center;
}

.wrapPopupGallery .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100vw;
    max-height: calc(100vh - 80px);
    cursor: pointer;
}
.wrapPopupGallery .thumbnail .flaticon-delete{
    position: absolute;
    bottom: 100%;
    right: 0;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.wrapPopupGallery .thumbnail .index{
    padding-top: 5px;
    position: absolute;
    top: 100%;
    right: 40px;
    color: #fff;
    font-size: 12px;
}
.wrapPopupGallery .thumbnail .name{
    padding-top: 5px;
    position: absolute;
    top: 100%;
    left: 0px;
    width: calc(100% - 50px);
    color: #fff;
    font-size: 17px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.activeGallery{

}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, 1);
        transform: scale3d(.3, .3, 1);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, 1);
        transform: scale3d(.3, .3, 1);
    }
    50% {
        opacity: 1;
    }
}
