header#masthead {
    /*height: 96px;*/
    /*display: block;*/
    /*background: #fff;*/
}

header .site-header-main {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    background-color: rgba(255, 255, 255, .85);
    height: 96px;
    z-index: 10;
    transition: 1s;
}
header .site-header-main.active-menu{

    right: 320px;
}
header .site-branding {
    text-align: center;
}

header > .site-header-main > .site-branding {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

header #menu-toggle,header #menu-close {
    position: absolute;
    top: calc(50% - 12px);
    right: 0;
    font-size: 21px;
    color: #595959;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}
header #menu-close{
    display: none;
}

header {

}

header #site-header-menu {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100vh;
    width: 320px;
    background: #898989;
}
header #menu-main_menu{
    list-style: none;
    padding: 28px 40px;

}
header #menu-main_menu .menu-item{
    padding: 10px 0;
}
header #menu-main_menu .menu-item a{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.custom-logo-link {
    padding: 4px 0;
    height: 100%;
    display: inline-block;
}
.custom-logo-link .custom-logo {
    height: 100%;
}