/**
*Slide Home
 */

.wrapSlideHome {
    position: relative;
    overflow: hidden;
}

#slideHome .owl-prev, #slideHome .owl-next {
    position: absolute;
    top: 50%;
    background: transparent;
    outline: none;
    margin-top: -13px;
    transition: 0.5s;

}

#slideHome .owl-nav {
    margin: 0;
}

#slideHome .owl-nav i {
    font-size: 24px;
    color: #fff;
}

.wrapSlideHome {
    padding-top: 96px;
}

.wrapSlideHome .owl-prev {
    left: -24px;
}

.wrapSlideHome .owl-next {
    right: -24px;
}

.wrapSlideHome:hover .owl-next {
    right: 20px;
}

.wrapSlideHome:hover .owl-prev {
    left: 20px;
}

#slideHome .owl-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

#slideHome .owl-dot {
    outline: none;
}

#slideHome .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 4px;
}

#popup_slide_home {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0,0,0,0.5);
}

.inner_popup_slide_home {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner_popup_slide_home .item_slide_home {
    display: inline-block;
}
#popup_slide_home .prev,#popup_slide_home .next{
    position: absolute;
    top:50%;
    z-index: 10;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    background: rgba(0,0,0,0.7);
    color: #fff;

}
#popup_slide_home .prev{
    left: 0;
}
#popup_slide_home .next{
    right: 0;
}
/**
* Danh sách 3 page hiển thị
 */
.listPageHome {

}

.listPageHome .wrap {

    display: flex;
    padding: 37px 1.5%;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
}

.listPageHome .wrap .itemPage {
    height: 162px;
    width: 33.33333%;
    padding: 0 1.5%;

}

.listPageHome .wrap .itemPage .wrapItem {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.listPageHome .wrap .itemPage a {*/
/*font-size: 20px;*/
/*text-transform: uppercase;*/
/*color: #fff;*/
/*position: relative;*/
/*z-index: 2;*/
/*background: #8e8e8e;*/
/*border: 2px solid #fff;*/
/*padding: 6px 20px;*/
/*line-height: 1.7;*/
/*}*/

/*.listPageHome .wrap .itemPage a:hover {*/
/*background: #595959;*/
/*}*/

.listPageHome .wrap .itemPage img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

/**
about us
 */
.pageAboutUs {

}

.pageAboutUs .wrap {
    padding: 42px 0;
    background-image: url("../image/ihs-mountain2.png");
    background-color: #ddd;
    text-align: center;
}

.pageAboutUs .content_page {
    max-width: 1080px;
    margin: auto;
}

.pageAboutUs .content_page h1 {
    font-size: 35px;
    color: #727272;
}

.pageAboutUs .content_page em {
    font-size: 24px;
    color: #7f7f7f;
}

.pageAboutUs .wrap a {

}
@media screen and (max-width: 992px){
    .listPageHome .wrap .itemPage {
        height: 162px;
        width: 100%;
        padding: 0 1.5%;
        margin-bottom: 35px;

    }
    .listPageHome .wrap .itemPage:nth-last-child(1){
        margin-bottom: 0;
    }
}
