
@font-face {
    font-family: 'Philosopher';
    font-display: swap;
    src:local('Philosopher'), url(../fonts/Philosopher/Philosopher-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    font-display: swap;
    src:local('Philosopher'), url(../fonts/Philosopher/Philosopher-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Philosopher';
    font-display: swap;
    src:local('Philosopher'), url(../fonts/Philosopher/Philosopher-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Philosopher';
    font-display: swap;
    src:local('Philosopher'), url(../fonts/Philosopher/Philosopher-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}
#page{
    transition: 1s;
    position: relative;
    width: 100%;
    left: 0;
}
#page.active-menu{
    left: -320px;
    /*width: 100%;*/
}
.buttonLink{
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 2;
    background: #8e8e8e;
    border: 2px solid #fff;
    padding: 6px 20px;
    line-height: 1.7;
    display: inline-block;
}
.buttonLink:hover{
    background: #595959;
}
@media screen and (max-width: 400px){
    /*body.active-menu{*/
        /*position: fixed;*/
        /*right: 80vw;*/
        /*transition: 1s;*/
        /*width: 100%;*/
    /*}*/
}